* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}
.commonTitleFontSize {
    font-size: 36px !important;
    color: #ee3765 !important;
    margin-bottom: 10px;
}
.commonWidth {
    max-width: 100%;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}
.container-spacing {
    margin: 4rem;
    padding: 2rem;
}
.gridspaceWithCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* css for header */
.anokhiUrja-container {
    margin: auto;
    max-width: 1796px;
}
.anokhiUrja-container .anokhiUrja-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #d4cbcb;
    width: 100%;
    height: 110px;
}
.anokhiUrja-container .anokhiUrja-logo {
    margin: 1rem 1rem;
}
.anokhiUrja-logo img {
    width: 80px;
    height: 115px;
    margin-left: 15px;
}
.anokhiUrja-container .anokhiUrja-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.anokhiUrja-container .anokhiUrja-navbar li {
    display: inline-block;
    margin-left: 1.5rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}
.anokhiUrja-container .anokhiUrja-navbar li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #4D4D4D;
}
.anokhiUrja-container .anokhiUrja-header .anokhiUrja-Con-button {
    margin: 2rem 2rem;
}
.anokhiUrja-container .anokhiUrja-header .anokhiUrja-Con-button button {
    background: #efa92a;
    padding: 1rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    border: none;
    color: #4D4D4D;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}
.anokhiUrja-container .anokhiUrja-header .anokhiUrja-Con-button button:hover {
    cursor: pointer;
    background: #89C407;
}

/* css for banner */
.anokhiUrja-container .anokhiUrja-banner {
    background-position: center;
    background-size: cover;
    color: #4D4D4D;
    max-width: inherit;
    min-height: 758px;
    display: flex;
}
.anokhiUrja-banner .anokhiUrja-paragraph {
    max-width: 550px;
    align-items: center;
    margin-top: 70px;
}
.anokhiUrja-container .anokhiUrja-banner h1 {
    padding-bottom: 2.0rem;
    font-size: 4rem;
}
.anokhiUrja-container .anokhiUrja-banner p {
    padding-bottom: 2.0rem;
    font-size: 1.3rem;
}
.anokhiUrja-Con-button a button {
    background: #efa92a;
    padding: 1rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    border: none;
    color: #4D4D4D;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}
.anokhiUrja-Con-button a button:hover {
    cursor: pointer;
    background: #89C407;
}

/* end */
/* end */

/* css for about us section */
.anokhiUrja-AboutUs {
    margin: 78px 29px;
}
.anokhiUrja-AboutUs-flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.anokhiUrja-AboutUs-flex .AboutUs-info {
    max-width: 665px;
    height: auto;
    color: #4D4D4D;
}
.anokhiUrja-AboutUs h2 {
    display: flex;
    justify-content: center;
}
.anokhiUrja-AboutUs .sectionLogo {
    width: 169px !important;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}
.AboutUs-info h3 {
    font-size: 20px;
}
.AboutUs-info p {
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}
.solar-img {
    width: 490px;
    height: auto;
    border-radius: 5px;
}
/* end */

/* css for product gallery */
.anokhiUrja-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery-contenar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
}
.gallery-image {
    padding: 10px;
}
.gallery-image img {
    max-width: 300px;
    height: 280px;
}
.gallery-image:hover img {
    transform: scale(1.9) ease-in-out;
    -webkit-transform: scale(1.1);
}

/* end */

/* css for slider section */
.Slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-img{
    width: 560px;
    height: auto;
    border-radius: 10px;
}
.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    user-select: none;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide:active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
/* end */


/* css for service section  */
.anokhi-urja-service-section {
    /* padding-top: 80px; */
    padding-bottom: 80px;
}
.anokhi-urja-service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.sectionLogo {
    margin-bottom: 29px;
    width: 200px;
}
.anokhi-urja-service span {
    font-size: 37px;
    margin: 15px 0px 0px 0px;
    color: #4D4D4D;
}
.anokhi-urja-service h2 {
    font-size: 40px;
    margin: 27px 0px 38px 0px;
    text-align: center;
}
.subtext {
    font-size: 26px;
    text-align: center;
    max-width: 700px;
    margin: auto auto 60px auto;
    color: #4D4D4D;
}
.anokhi-urja-blogsection {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.blogs {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    box-shadow: 1px 1px 8px #00000038;
    overflow: hidden;
    border-radius: 5px;
    transform: translateY(0);
    transition: 0.7s;
}
.blogs:hover {
    transform: translateY(-20px);
}
.blogs img {
    margin-bottom: 3px;
    border-radius: 5px;
    display: block;
    width: 100%;
}
.blogs h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}
.blogText {
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
/* end */

/*awards-section*/
.anokhiUrja-awards {
    margin: 78px 29px;
}
.anokhiUrja-awards-flex {
    max-width: 100%;
    height: auto;
    color: #4D4D4D;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.anokhiUrja-awards h2 {
    display: flex;
    justify-content: center;
}
.anokhiUrja-awards .sectionLogo {
    width: 169px !important;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}
.awards-info h3 {
    font-size: 20px;
    margin-top: 21px;
    text-align: center;
}
.awards-image{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.awards-img {
    width: 510px;
    max-height: 400px;
    border-radius: 5px;
}

/* css for blog section */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-item-left {
    padding: 2px;
}
.flex-item-right {
    padding: 2px;
}
#BlogSection h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
    color: #4D4D4D;
}
#BlogSection img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 22px;
}

/* end */